:root {
    --green: #2f7e01;
    --brown: rgb(148, 91, 48);
    --white: white;
    --black: rgba(7, 1, 1, 0.877);
    --red: rgba(165, 4, 4, 0.975);
    --gray: rgb(126, 123, 123);
    --beige: rgb(223, 223, 198);
    --lightGreen: rgb(173, 215, 95);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*position: relative;
    padding-bottom: 70rem;
    min-height: 100vh;*/
}
.inactive {
    display: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 1px solid var(--green);
}

/*navbar-left, navbar-right*/
.menu {
    display: none;
}
.logo {
    width: 30rem;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 0;
    margin: 0;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--green);
    padding: 0.8rem;
    border-radius: 0.8rem;
}
.navbar-right ul li a:hover,
.navbar-left ul li a:hover {
    color: var(--brown);
}

.navbar-email {
    color: var(--gray);
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 1.2rem;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--green);
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}

/* Menú en mobile */
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding: 2.4rem;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul {
    margin: 2.4rem 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--green);
}
.mobile-menu ul li {
    margin-bottom: 2.4rem;
}
ul li .email {
    font-size: 1.4rem;
    font-weight: lighter;
}
ul li .sign-out {
    font-size: 1.4rem;
    color: var(--red);
}

/* desktop-menu*/
.order {
    font-size: 1.8rem;
    font-weight: bold;
}
.desktop-menu {
    position: absolute;
    top: 6rem;
    right: 6rem;
    background: var(--white);
    width: 15rem;
    height: auto;
    border: 1px solid var(--green);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--green);
}
.desktop-menu ul li:last-child a {
    color: var(--green);
    font-size: 1.4rem;
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

/*Aside y carrito*/
aside {
    background-color: var(--white);
    width: 36rem;
    position: absolute;
    right: 0;
    top: 6rem;
}
#shoppingCartContainer {
    padding: 0 24px;
}
.title-container {
    display: flex;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 1.4rem;
}
.title {
    font-size: var(--black);
    font-weight: bold;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure img {
    width: 7rem;
    height: 7rem;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: var(--gray);
}
.shopping-cart p:nth-child(3) {
    font-weight: bold;
}
.check {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--brown);
    color: var(--white);
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0px 24px;
    height: 5rem;
}
.check p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.check p span:nth-child(1) {
    font-weight: bold;
}
.check p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.primary-button {
    background-color: var(--lightGreen);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    font-weight: bold;
    height: 5rem;
    cursor: pointer;
}
/* Product detail*/
.product-title {
    width: 100%;
    height: 5vh;
    background: var(--gray);
}
.product-detail-close {
    background: var(--gray);
    width: 1.4rem;
    height: 1.4rem;
    top: 30px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    align-items: center;
    border-radius: 50%;
    position: absolute;
}
.product-detail-close:hover {
    cursor: pointer;
}
#productDetail > img:nth-child(2) {
    width: 20rem;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    justify-content: center;
    padding: 2.5rem;
}
#productDetail .product-info {
    margin: 24px 24px 0 24px;;
}
#productDetail .product-info p:nth-child(1) {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
}
#productDetail .product-info p:nth-child(2) {
    color: var(--gray);
    margin-bottom: 3.6rem;
}
#productDetail .product-info p:nth-child(3) {
    color: var(--gray);
    margin-bottom: 3.6rem;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Product List */
.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
    margin-top: 2rem;
}
.product-card {
    width: 24rem;
}
.product-card img {
    width: 24rem;
    height: 24rem;
    border-radius: 20px;
    object-fit: cover;
}
.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-card .product-info figure img {
    width: 35px;
    height: 35px;
}
.product-card .product-info div p:nth-child((1)) {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
}
.product-card .product-info div p:nth-child(2) {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--gray);
}


/*.cards-container .active img::after {
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 0;
}*/

/*Mi cuenta*/
.login {
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
    margin: 2rem;
}
    
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
    /*display: none;*/
}
.form {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--red);
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5.2rem;
}
.accountLogo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
}
.label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4px; 
}
.input {
    background-color: var(--beige);
    border: none;
    border-radius: 8px;
    height: 30px;
    padding: 6px;
    margin-bottom: 12px;
}
.input-email {
    margin-bottom: 22px;
}
.secundary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--green);
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 5rem;
}
.login-button {
    margin-top: 14px;
    margin-bottom: 3rem;
}
.page-footer {
      width: 100%;
      background-color: var(--green);
      display: flex;
      display: block;
      margin-top: auto;
      /*position: absolute;
      bottom: 0;*/
  }
/*.information {
    width: 100%;
}
.page-footer .login .info-1 {
    display: inline-block;
}*/
.page-footer .info-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 4.5rem 0rem;
}
.page-footer .info-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-footer .info-1 .box figure img {
    width: 25rem;
    border-radius: 10px;
}
.page-footer .info-1 .box h2 {
    color: var(--white);
    margin-bottom: 25px;
    font-size: 2rem;
    margin-right: 10px;
}
.page-footer .info-1 .box p {
    color: var(--white);
    margin-bottom: 1rem;
}
.page-footer .info-1 .social-network a {
    display: inline-block;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: var(--white);
    background-color: var(--lightGreen);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 20px;
}
.page-footer .info-1 .social-network a:hover {
    color: var(--red);
}
.page-footer .info-2 {
    background-color: var(--brown);
    padding: 15px 10px;
    text-align: center;
    color: var(--white);
}
.page-footer .info-2 small {
    font-size: 1.5rem;
}

@media screen and (max-width:800px) {
    .page-footer .info-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 3.5rem 0rem;
    }  
}

@media (max-width: 640px) {

    .page-footer .info-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 3.5rem 0rem;
    }  

    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .product-detail {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 14rem;
    }
    .product-card img {
        width: 14rem;
        height: 14rem;
    }
    .login {
        display: none;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}