:root {
    --green: #2f7e01;
    --brown: rgb(148, 91, 48);
    --white: white;
    --black: rgba(7, 1, 1, 0.877);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 1px solid var(--green);
}
.menu {
    display: none;
}
.logo {
    width: 300px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 6rem;
}
.navbar-left ul li a {
    text-decoration: none;
    color: var(--green);
    padding: 0.8rem;
    border-radius: 0.8rem;
}
.navbar-left ul li a:hover {
    border: 1px solid var(--brown);
    color: var(--brown);
}

/* Menú en mobile */
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding: 2.4rem;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul {
    margin: 2.4rem 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--green);
}
.mobile-menu ul li {
    margin-bottom: 2.4rem;
}
ul li .email {
    font-size: 1.4rem;
    font-weight: lighter;
}
ul li .sign-out {
    font-size: 1.4rem;
    color: var(--green);
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}